USE [master]
GO
/****** Object:  Database [QuanLyXepHang]    Script Date: 3/24/2025 12:37:52 AM ******/
CREATE DATABASE [QuanLyXepHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyXepHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyXepHang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyXepHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyXepHang_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyXepHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyXepHang]
GO
/****** Object:  Table [dbo].[bai_viet]    Script Date: 3/24/2025 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_viet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_dang] [datetime2](6) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[so_luot_binh_luan] [int] NOT NULL,
	[so_luot_thich] [int] NOT NULL,
	[tieu_de] [nvarchar](255) NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[binh_luan]    Script Date: 3/24/2025 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binh_luan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_dang] [datetime2](6) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[bai_viet_id] [bigint] NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem_nguoi_dung]    Script Date: 3/24/2025 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem_nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[diem] [int] NULL,
	[loai_hoat_dong] [varchar](255) NOT NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[luot_thich]    Script Date: 3/24/2025 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luot_thich](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[thoi_gian] [datetime2](6) NULL,
	[bai_viet_id] [bigint] NOT NULL,
	[nguoi_dung_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 3/24/2025 12:37:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_bac] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[mat_khau] [varchar](255) NOT NULL,
	[ngay_tao] [datetime2](6) NULL,
	[so_lan_dang_nhap] [int] NOT NULL,
	[ten_dang_nhap] [nvarchar](255) NOT NULL,
	[vai_tro] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKmajqh5g4djy2tp3p9dvr64brp] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKo0s268lrp9is6o1e4ek6m1lc6] UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bai_viet]  WITH CHECK ADD  CONSTRAINT [FK57k81abpjuvg5l2d6o8i1kyby] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[bai_viet] CHECK CONSTRAINT [FK57k81abpjuvg5l2d6o8i1kyby]
GO
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD  CONSTRAINT [FK9t033bi499huul59bresxl05o] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[binh_luan] CHECK CONSTRAINT [FK9t033bi499huul59bresxl05o]
GO
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD  CONSTRAINT [FKbv4cktvi77gv9rv5cbdunl5cf] FOREIGN KEY([bai_viet_id])
REFERENCES [dbo].[bai_viet] ([id])
GO
ALTER TABLE [dbo].[binh_luan] CHECK CONSTRAINT [FKbv4cktvi77gv9rv5cbdunl5cf]
GO
ALTER TABLE [dbo].[diem_nguoi_dung]  WITH CHECK ADD  CONSTRAINT [FK5o8420nuvysqhvgd9b4a2crtg] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[diem_nguoi_dung] CHECK CONSTRAINT [FK5o8420nuvysqhvgd9b4a2crtg]
GO
ALTER TABLE [dbo].[luot_thich]  WITH CHECK ADD  CONSTRAINT [FKlrd8osyvpchnp6ce0lermfb3r] FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[luot_thich] CHECK CONSTRAINT [FKlrd8osyvpchnp6ce0lermfb3r]
GO
ALTER TABLE [dbo].[luot_thich]  WITH CHECK ADD  CONSTRAINT [FKpu55fo2h58d7yfn1vkshvhmqg] FOREIGN KEY([bai_viet_id])
REFERENCES [dbo].[bai_viet] ([id])
GO
ALTER TABLE [dbo].[luot_thich] CHECK CONSTRAINT [FKpu55fo2h58d7yfn1vkshvhmqg]
GO
ALTER TABLE [dbo].[diem_nguoi_dung]  WITH CHECK ADD CHECK  (([loai_hoat_dong]='DUOC_THICH' OR [loai_hoat_dong]='BINH_LUAN' OR [loai_hoat_dong]='VIET_BAI' OR [loai_hoat_dong]='DANG_NHAP'))
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD CHECK  (([cap_bac]='VIP' OR [cap_bac]='BACH_KIM' OR [cap_bac]='KIM_CUONG' OR [cap_bac]='VANG' OR [cap_bac]='BAC' OR [cap_bac]='DONG'))
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD CHECK  (([vai_tro]='USER' OR [vai_tro]='ADMIN'))
GO
USE [master]
GO
